## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,5,Maracacume,BR,84.36,overcast clouds,-2.0428,-45.9592,Hotel Ramos
1,10,Lianyuan,CN,80.60,overcast clouds,27.6883,111.6642,Lianyuan Hotel
2,13,Atuona,PF,77.32,light rain,-9.8000,-139.0333,Villa Enata
3,15,Hithadhoo,MV,81.63,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,19,Pasuquin,PH,80.17,heavy intensity rain,18.3328,120.6177,Orchard Resort Hotel And Restaurant
5,22,Kailua,US,82.38,scattered clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
6,24,Kirakira,SB,77.00,scattered clouds,-10.4544,161.9205,SanBiz Lodge
7,25,Phangnga,TH,80.64,broken clouds,8.4509,98.5298,Sunimit Mansion
8,27,Bethel,US,84.47,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
9,28,Bambanglipuro,ID,75.18,clear sky,-7.9500,110.2833,Puri Brata

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city. IDEAL path: Freeport, Manhattan, Connecticut, Freeport

vacation_start = vacation_df.loc[vacation_df['City'] == 'Freeport'] # New York
vacation_end = vacation_df.loc[vacation_df['City'] == 'Freeport'] # New York
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Manhattan'] # New York
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bethel'] # Connecticut
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Westport'] # New York

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame
    # using the to_numpy function and list indexing.
    
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
freeport_and_back = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(freeport_and_back)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,504,Freeport,US,79.88,moderate rain,40.6576,-73.5832,The Freeport Inn and Marina
1,548,Manhattan,US,82.63,broken clouds,40.7834,-73.9662,The Excelsior Hotel
2,27,Bethel,US,84.47,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
3,420,Westport,US,82.90,light rain,41.1415,-73.3579,The Westport Inn

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))